@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;600;800&family=Poppins:wght@500;700;900&display=swap');

/* 

    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Poppins', sans-serif;

*/
:root{

    --header: 'Noto Sans Mono', monospace;
    --paragraph:  'Poppins', sans-serif;
    --primaryColor: #e4e5ee;
    --secondaryColor: #4070F4;
    --accentColor: green;
    --textColor: #303030;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* MOBILE FIRST */
/* Container */

.container{
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    font-family: var(--paragraph);
}

/* Nav Bar*/
.header{
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: var(--header);
    background: linear-gradient(to bottom right , rgba(0, 0 ,0, .50), rgba(255,255,255,.15));
}
.main-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.logo{
    font-size: 2rem;
    color: var(--textColor);
    filter: drop-shadow(0 0 2px var(--secondaryColor)); 
}
.logo span{
    font-size: 2.3rem;
    font-weight: 900;
    margin-left: -16px;
    color: var(--secondaryColor);
    filter: drop-shadow(0 0 4px var(--textColor));
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 32px;
    opacity: 0;
    visibility: hidden;
    transition: all .50s ease;
}
.nav-link a{
    text-decoration: none;
    color: var(--textColor);
    text-transform: uppercase;
    font-weight: 600;
}
.nav-toggle{
    font-size: 2rem;
    color: var(--textColor);
    transition: all .75s ease;
}
.nav-link a:hover, .nav-toggle:hover{
    color: var(--secondaryColor);
}
.nav-link a:focus, .nav-toggle:focus{
    color: var(--textColor);
}
/* HERO SECTION */
#hero-section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(64,112,244,.50), rgba(0, 0, 0, .75)), url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myprofile-pic{
    position: relative;
    top: 0;
    left: 0;
    margin: 64px 0;
}
.myprofile-pic img{
    border-radius: 50%;
    border: 1px solid rgba(225, 225, 225, 0.25);
    filter: drop-shadow(0 0 5px rgba(64,112,244));
}
.profile-background{
    background-color: var(--secondaryColor);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(50deg);
    border: 1px solid rgba(225, 225, 225, 0.25);
    box-shadow: 0 0 10px 1px var(--secondaryColor);
}

.hero-content{
    width: 80%;
    height: max-content;
    text-align: center;
    margin-top: 32px;
}
.hero-header{
    font-family: var(--header);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primaryColor);
}
.hero-header span{
   text-transform: uppercase;
   font-weight: 600;
   color: var(--secondaryColor);
   margin-left: .50rem;
   font-family: var(--paragraph);
}
.hero-para{
    font-size: 1.2rem;
    color: var(--primaryColor);
}
.hero-para p:nth-child(2){
   text-transform: uppercase;
   font-weight: 600;
   color: var(--secondaryColor);
}